
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    color: purple;
    text-align: center;
    padding: 1rem;
}
img{
    border-radius: 1rem;
    width: 10rem;
}
.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.data-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.data-item h2:hover{
    color: purple;
}
.data-item a:hover{
    color: purple;
}
a{
    text-decoration: none;
    color: black;
}